.Info{
    width: 10px;
    /* display: flex; */
   /* margin-left: 800px; */
   
}
.Profilepic{
    margin-top: 50px;
    /* padding: 1px; */
    border: 3px solid lightgray;
    /* display: flex; */
}
.username{
    margin-left: 15px;
    margin-top: 55px;
    font-size: 15px;
    font-weight: bold;
}
.Profileclass{
    display: flex;
}
.Nameclass{
    font-size: 12px;
    position: absolute;
    margin-left: 65px;
    margin-top: 75px;
    
}
.Switch{
    margin-left: 45px;
    margin-top: 65px;
    font-size: 14px;
    color: blue;
    font-weight: bold;
}