.sugg_contain{
    width: 300px;
    height: 290px;
    margin-top: 25px;
}
.sugg_header{
    font-weight: bold;
    color: #bebebe;
}
.sugg_body{
    height: 256px;
    margin-top: 10px;
}
.sug_username{
    margin-left: 10px;
    margin-top: 8px;
    max-width: 50px;
    
}
.sug1{
    display: flex;
    margin-top: 10px;
    
}
.Follow{
    margin-left: 85px;
    margin-top: 8px;
    font-size: 14px;
    color: blue;
    font-weight: bold;
}
.sugg_image{
    border: 3px solid lightgray;
}
